<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Uploader</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto mt-5 text-center">
                    <h1 class="mb-5"> Detector Image Uploader</h1>

                    <form method="post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        {% for error in form.photo.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}

                        <div class="row justify-content-center">
                            <div class="col-auto">
                                {{ form.photo(class="form-control")}}
                            </div>
                        <div class="col-auto">
                            {{ form.submit(class="btn btn-success")}}
                        </div>
                        </div>
                    

                    </form>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
        {% if file_url %}
        <div>
            <h3> IMAGE UP !!</h3>
            <div>
                <p>{{file_url}}</p>
                <img src="{{file_url}}" alt="Uploaded Image" style="max-width: 300px;">
                <a href="http://127.0.0.1:5000{{file_url}}"><button>CLICK TO GO TO UPLOADED FILE </button> </a>
            </div>
        </div>
        {% endif %}

        {% if analysis_result and ':' in analysis_result %}
        <div class="result">
            <p><strong>Food Name:</strong> {{ analysis_result.split(':')[0] }}</p>
            <p><strong>Quantity:</strong> {{ analysis_result.split(':')[1] }}</p>
            <p><strong>Expiration (in days):</strong> {{ analysis_result.split(':')[2] }}</p>
        </div>
        {% else %}
        <p class="error">Error: Unable to process the analysis result.</p>
        {% endif %}

        {% if items %}
        <h2>Food Items in Fridge</h2>
        <ul>
            {% for item in items %}
            <li>
                <strong>Food Name:</strong> {{ item[2] }}<br>
                <strong>Quantity:</strong> {{ item[3] }}<br>
                <strong>Expiration:</strong> {{ item[4] }}<br>
                <strong>Image Path:</strong> {{ item[5] }}<br>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No food items found.</p>
    {% endif %}

    </body>
</html>